<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<!-- Title -->
	<title>Substance - Professional Bootstrap Template</title>
	<!-- Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<!-- Favicon -->
	<link href="favicon.html" rel="shortcut icon">
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css" rel="stylesheet">
	<!-- Template CSS -->
	<link rel="stylesheet" href="/css/animate.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nexus.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css" rel="stylesheet">
	<!-- Google Fonts-->
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="pre_header" class="visible-lg"></div>
	<div id="header" class="container">
		<div class="row">
			<!-- Logo -->
			<div class="logo">
				<a href="index.ejs" title="">
					<img src="/img/logo.png" alt="Logo" />
				</a>
			</div>
			<!-- End Logo -->
			<!-- Top Menu -->
			<div class="col-md-12 margin-top-30">
				<div id="hornav" class="pull-right visible-lg">
					<ul class="nav navbar-nav">
						<li><a href="index.ejs">Home</a></li>
						<li><a href="search.ejs">Search</a></li>
						<li><a href="blog-list.ejs">Blog</a></li>
						<li><a href="contact.ejs">Contact</a></li>
					</ul>				</div>
				</div>
				<div class="clear"></div>
				<!-- End Top Menu -->
			</div>
		</div>
		<!-- === END HEADER === -->
		<!-- === BEGIN CONTENT === -->
		<div id="content" class="container">
			<div class="row margin-vert-30 search-margin">
				<div class="col-md-12">
					<div class="search-box">
                        <h2 class="search-form-title">Search</h2>
                        <form class="form-search">
                            <div class="form-group">
                                <label for="name">Title/Description</label>
                                <input type="text" id="name" class="form-control" placeholder="Enter name">
                            </div>
                            <!-- <div class="form-group">
                                <label>Tags:</label>
                                <div id="tag-buttons" class="tag-buttons">
                                    <button type="button" class="tag-btn" data-tag="tag1">HTML</button>
                                    <button type="button" class="tag-btn" data-tag="tag2">CSS</button>
                                    <button type="button" class="tag-btn" data-tag="tag3">JavaScript</button>
                                    <button type="button" class="tag-btn" data-tag="tag4">jQuery</button>
                                    <button type="button" class="tag-btn" data-tag="tag5">PHP</button>
                                    <button type="button" class="tag-btn" data-tag="tag6">Ruby</button>
                                    <button type="button" class="tag-btn" data-tag="tag7">Bootstrap</button>
                                    <button type="button" class="tag-btn" data-tag="tag8">Grunt</button>
                                    <button type="button" class="tag-btn" data-tag="tag9">CoffeeScript</button>
                                    <button type="button" class="tag-btn" data-tag="tag10">HTML5</button>
                                </div>
                                <div id="selected-tags" class="selected-tags"></div>
                            </div> -->
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" id="date" class="form-control">
                            </div>
                            <a href="pages-404.ejs" class="btn btn-primary">Search</a>
                        </form>
                    </div>
				</div>
			</div>
		</div>
		<!-- === END CONTENT === -->
		<!-- === BEGIN FOOTER === -->
		<div id="base">
			<div class="container padding-vert-30">
				<div class="row">
					<!-- Thumbs Gallery -->
					<div class="col-md-3 margin-bottom-20">
						<h3 class="margin-bottom-10">Portfolio Highlights</h3>
						<div class="thumbs-gallery">
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image1.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image1.jpg" alt="image1.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image2.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image2.jpg" alt="image2.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image3.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image3.jpg" alt="image3.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image4.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image4.jpg" alt="image4.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image6.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image6.jpg" alt="image6.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image7.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image7.jpg" alt="image7.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image8.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image8.jpg" alt="image8.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image9.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image9.jpg" alt="image9.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image92.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image92.jpg" alt="image92.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image94.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image94.jpg" alt="image94.jpg">
							<i></i></a>
							
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image95.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image95.jpg" alt="image95.jpg">
							<i></i></a>
							
							<a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image96.jpg">
								<img src="assets/img/thumbsgallery/thumbs/image96.jpg" alt="image96.jpg">
							<i></i></a>
							
							</div>			<div class="clearfix"></div>
						</div>
						<!-- End Thumbs Gallery -->
						<!-- Contact Details -->
						<div class="col-md-3 margin-bottom-20">
							<h3 class="margin-bottom-10">Contact Details</h3>
							<p>Quay View,<br />
							Mullaghmore,<br />
							Co. Sligo,<br />
							Ireland</p>
							<p>Email: <a href="mailto:info@website.com">info@website.com</a><br />
							Website: <a href="http://www.website.com/">www.website.com</a></p>
						</div>
						<!-- End Contact Details -->
						<!-- Sample Menu -->
						<div class="col-md-3 margin-bottom-20" >
							<h3 class="margin-bottom-10">Sample Menu</h3>
							<ul class="menu">
								<li>
									<a class="fa-tasks" href="#" >Placerat facer possim</a>
								</li>
								<li>
									<a class="fa-users" href="#" >Quam nunc putamus</a>
								</li>
								<li>
									<a class="fa-signal" href="#" >Velit esse molestie</a>
								</li>
								<li>
									<a class="fa-coffee" href="#">Nam liber tempor</a>
								</li>
							</ul>
							<div class="clearfix"></div>
							
						</div>
						<!-- End Sample Menu -->
						<!-- Disclaimer -->
						<div class="col-md-3 margin-bottom-20">
							<h3 class="margin-bottom-10">Disclaimer</h3>
							<p>All stock images on this template demo are for presentation purposes only, intended to represent a live site and are not included with this template. Links are provided if you wish to purchase them from their copyright owners.</p>
							<div class="clearfix"></div>
						</div>
						<!-- End Disclaimer -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- Footer Menu -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div id="copyright" class="col-md-4">
							<p>(c) 2014 Your Copyright Info</p>
						</div>
						<div id="footermenu" class="col-md-8">
							<ul class="list-unstyled list-inline pull-right">
								<li>
									<a href="#" target="_blank" >Sample Link</a>
								</li>
								<li>
									<a href="#" target="_blank" >Sample Link</a>
								</li>
								<li>
									<a href="#" target="_blank" >Sample Link</a>
								</li>
								<li>
									<a href="#" target="_blank" >Sample Link</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Menu -->
	</div>
</div>
<!-- JS -->
<script type="text/javascript" src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<!-- Isotope - Portfolio Sorting -->
<script type="text/javascript" src="/js/jquery.isotope.js" type="text/javascript"></script>
<!-- Mobile Menu - Slicknav -->
<script type="text/javascript" src="/js/jquery.slicknav.js" type="text/javascript"></script>
<!-- Animate on Scroll-->
<script type="text/javascript" src="/js/jquery.visible.js" charset="utf-8"></script>
<!-- Slimbox2-->
<script type="text/javascript" src="/js/slimbox2.js" charset="utf-8"></script>
<!-- Modernizr -->
<script src="/js/modernizr.custom.js" type="text/javascript"></script>
<!-- Tags -->
<!-- <script>
    document.querySelectorAll('.tag-btn').forEach(button => {
        button.addEventListener('click', function() {
            this.classList.toggle('selected');
            updateSelectedTags();
        });
    });

    function updateSelectedTags() {
        let selectedTags = Array.from(document.querySelectorAll('.tag-btn.selected'))
            .map(btn => btn.textContent);
        document.getElementById('selected-tags').innerHTML = selectedTags
            .map(tag => `<span class="badge badge-primary">${tag}</span>`).join(' ');
    }
</script> -->
<!-- End JS -->
</body>
</html>
<!-- === END FOOTER === -->